<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.framestudy.spring_mybatis.relationmag.mapper">
	<resultMap type="Husband" id="husMap">
		<id property="id" column="hId" javaType="java.lang.Integer"/>
		<result property="name" column="hName" javaType="java.lang.String"/>
		<result property="wife.id" column="wId" javaType="java.lang.Integer"/>
		<result property="wife.name" column="wName" javaType="java.lang.String"/>
	</resultMap>

	<insert id="marry">
		insert into t_hus (hus_name) values (#{hus.name});
		
		insert into t_wife (wife_name,fk_hus_id) values (#{hus.wife.name},(select
		from t_hus where hus_name = #{hus.name}))
	</insert>
	
	<select id="getHusbandWithWifeByHusbandId" resultMap="husMap">
	
	</select>



</mapper>